#============= cameraserver ==============
allow cameraserver proc_meminfo:file { open read };

#============= cameraserver ==============
allow cameraserver cache_file:dir { add_name remove_name write };
allow cameraserver cache_file:file { create getattr open read setattr unlink write };
