#============= init ==============
allow init self:capability sys_module;

#============= init ==============
allow init sensors_exec:process { noatsecure rlimitinh siginh };

#============= init ==============
dontaudit init sensors_exec:process transition;

#============= init ==============
allow init debugfs:dir mounton;
allow init tmpfs:lnk_file create;

#============= init ==============
allow init block_device:blk_file write;

#============= init ==============
allow init kernel:system module_request;

#============= init ==============
allow init ram_device:blk_file write;

#============= init ==============
allow init app_data_file:dir { getattr relabelfrom };
allow init app_data_file:file { getattr relabelfrom };

