#============= kernel ==============
allow kernel device:blk_file { getattr create setattr unlink };
allow kernel self:capability mknod;

#============= kernel ==============
allow kernel device:chr_file { getattr create setattr unlink };
allow kernel device:dir { create remove_name rmdir write add_name };

#============= kernel ==============
allow kernel self:system module_request;

