#============= logd ==============
allow logd rootfs:file { entrypoint execute };

#============= logd ==============
allow logd sensors_exec:dir search;
allow logd sensors_exec:file { read getattr open };

