#============= mediaserver ==============
allow mediaserver cache_file:dir { add_name remove_name write };
allow mediaserver cache_file:file { create open setattr unlink write };

#============= mediaserver ==============
allow mediaserver platform_app:dir search;
allow mediaserver platform_app:file { open read };

#============= mediaserver ==============
allow mediaserver cedar_device:chr_file { ioctl open read write };
