type sensors, domain;
type sensors_exec, exec_type, file_type;
init_daemon_domain(sensors)

#============= sensors_exec ==============
allow sensors_exec init:fd use;
allow sensors_exec init:process sigchld;
allow sensors_exec kernel:fd use;
allow sensors_exec null_device:chr_file { read write ioctl getattr };
allow sensors_exec proc:file { getattr open read };
allow sensors_exec properties_device:file { getattr open read };
allow sensors_exec rootfs:dir { open read };
allow sensors_exec rootfs:lnk_file read;
allow sensors_exec self:capability chown;
allow sensors_exec self:file { open read };
allow sensors_exec self:process { fork sigchld };
allow sensors_exec selinuxfs:filesystem getattr;
allow sensors_exec sysfs:dir { open read search };
allow sensors_exec sysfs:file { getattr setattr };
allow sensors_exec system_file:dir search;
allow sensors_exec system_file:file { execute execute_no_trans getattr open read };
allow sensors_exec system_file:lnk_file read;

#============= sensors_exec ==============
allow sensors_exec device:dir search;
allow sensors_exec owntty_device:chr_file { read write open };
allow sensors_exec proc:lnk_file read;
allow sensors_exec self:dir search;
allow sensors_exec self:lnk_file read;
allow sensors_exec shell_exec:file { read entrypoint };
allow sensors_exec toolbox_exec:file { read getattr open execute execute_no_trans };


#============= sensors_exec ==============
allow sensors_exec default_prop:file { getattr open read };
allow sensors_exec properties_device:dir getattr;
allow sensors_exec properties_serial:file { getattr open read };
allow sensors_exec property_contexts:file { getattr open read };
allow sensors_exec rootfs:lnk_file getattr;
allow sensors_exec shell_exec:file getattr;
allow sensors_exec sysfs_devices_system_cpu:dir search;
allow sensors_exec sysfs_devices_system_cpu:file { getattr open read };
allow sensors_exec system_file:dir getattr;
allow sensors_exec urandom_device:chr_file { getattr ioctl open read };

