#============= vold ==============
allow vold cache_file:dir { add_name create remove_name setattr write };
allow vold cache_file:file { create open read unlink write };

#============= vold ==============
allow vold databk_file:dir { add_name create remove_name setattr write ioctl open read };
allow vold databk_file:file { create open read unlink write };

