import init.sun8i.usb.rc

on init

	insmod /nand.ko

#See storage config details at http://source.android.com/tech/storage/
	mkdir /mnt/shell/emulated 0700 shell shell
	mkdir /storage/emulated 0555 root root

	export EXTERNAL_STORAGE /storage/emulated/legacy
	export SECONDARY_STORAGE /storage/sdcard1
	export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
	export EMULATED_STORAGE_TARGET /storage/emulated
#	export MEDIA_STORAGE /mnt/media/sdcard

#	Support legacy paths
	symlink /storage/emulated/legacy /sdcard
	symlink /storage/emulated/legacy /mnt/sdcard
	symlink /storage/emulated/legacy /storage/sdcard0
	symlink /mnt/shell/emulated/0 /storage/emulated/legacy

	# External SD card
	mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
	mkdir /storage/sdcard1 0770 root root
	symlink /storage/sdcard1 /extsd
	symlink /storage/sdcard1 /mnt/extsd

	# USB OTG drive
	mkdir /mnt/media_rw/usbdisk0 0700 media_rw media_rw
	mkdir /storage/usbdisk0 0770 root root
	symlink /storage/usbdisk0 /mnt/usbhost1

	mount debugfs debugfs /sys/kernel/debug
	mkdir /databk 0700 root  system

on early-fs
	mount_all /fstab.sun8i
	setprop ro.crypto.fuse_sdcard true
	insmod /system/vendor/modules/disp.ko
	insmod /system/vendor/modules/lcd.ko
	insmod /system/vendor/modules/mali.ko
	
on post-fs-data
	mkdir /data/media 0770 media_rw media_rw
	#mkdir /mnt/media/sdcard 0770 media_rw media_rw

on fs



#csi module
	insmod /system/vendor/modules/videobuf-core.ko
	insmod /system/vendor/modules/videobuf-dma-contig.ko
	insmod /system/vendor/modules/cam_detect.ko
#	insmod /system/vendor/modules/actuator.ko
#	insmod /system/vendor/modules/ad5820_act.ko
	insmod /system/vendor/modules/cci.ko
	insmod /system/vendor/modules/vfe_os.ko
	insmod /system/vendor/modules/vfe_subdev.ko
	insmod_modules camera
#	insmod /system/vendor/modules/gc0308.ko
#	insmod /system/vendor/modules/gc2035.ko
	insmod /system/vendor/modules/vfe_v4l2.ko

#insmod tp and keyboard gsensor 
#	insmod /system/vendor/modules/sw-device.ko
	insmod /system/vendor/modules/inet_ctp.ko
#	insmod /system/vendor/modules/ft5x02.ko
	insmod /system/vendor/modules/ft5x_ts.ko
	insmod /system/vendor/modules/ft5402.ko
	insmod /system/vendor/modules/gslX680new.ko
	insmod /system/vendor/modules/gslX680.ko
	insmod /system/vendor/modules/gt9xxf_ts.ko
	insmod /system/vendor/modules/gt9xx_ts.ko
	insmod /system/vendor/modules/sunxi-keyboard.ko
	insmod /system/vendor/modules/bma250.ko
	insmod /system/vendor/modules/lsm330_acc.ko
	insmod /system/vendor/modules/lsm330_gyr.ko
	
#inet_recovery
	insmod /system/vendor/modules/inet_recover.ko


#insmod usb ethernet
	insmod /system/vendor/modules/asix.ko
	insmod /system/vendor/modules/qf9700.ko
	insmod /system/vendor/modules/mcs7830.ko
	insmod /system/vendor/modules/rtl8150.ko

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service fuse_usbdisk0 /system/bin/sdcard -u 1023 -g 1023 -d /mnt/media_rw/usbdisk0 /storage/usbdisk0
    class late_start
    disabled
